.App {
  min-height: 100vh;
}

.generate-btn:hover {
 background-color: #9900FF;
 opacity: 50%;
}

.generate-input:focus {
  border-color: none;
  outline: none;
  border: none;
}

.col-sm .input-thing {
  height: 60px;
}

.col-sm .input-thing * {
  height: 100%;
}

.how-to-use li {
  font-size: 20px;
  font-weight: 500;  
}

.loading {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(365deg);
  }
}

.answer-choice {
  cursor: pointer;
}

.answer-choice:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}